# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]} #how do I do this manually
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Saious119
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_gists: no
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: year
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 12
          plugin_languages_threshold: 0%
          plugin_languages_ignored: Jupyter Notebook
          plugin_languages_skipped: lowlighter/metrics
          plugin_lines: yes
          plugin_people: yes
          plugin_people_limit: 28
          plugin_people_size: 28
          plugin_people_types: followers, following
          plugin_projects: no
          plugin_projects_limit: 4
          plugin_stars: yes
          plugin_stars_limit: 4
